<div class="inner-warpper text-center">
  <h2 class="title">About you</h2>
  <form action="" id="formvalidate">
    <div class="person-details">
      <div class="label-input">
        <label for="firstName">First Name:</label>
        <input
          [(ngModel)]="firstName"
          type="text"
          id="firstName"
          name="firstName"
          class="form-control"
        />
      </div>
      <div class="label-input">
        <label for="lastName">Last Name:</label>
        <input
          class="form-control"
          name="lastName"
          id="lastName"
          type="text"
          [(ngModel)]="lastName"
        />
      </div>
    </div>
    <div class="person-details">
      <div class="input-group">
        <label for="email">Email:</label>
        <input
          class="form-control"
          name="email"
          id="email"
          type="email"
          [(ngModel)]="email"
        />
      </div>
      <div class="input-group">
        <label for="job">Job:</label>
        <input
          class="form-control"
          name="job"
          id="job"
          type="text"
          [(ngModel)]="job"
        />
      </div>
    </div>
    <div class="person-details last-part">
      <div class="input-group">
        <label for="phone">Phone:</label>
        <input
          class="form-control"
          name="phone"
          id="phone"
          type="phone"
          [(ngModel)]="phone"
        />
      </div>
      <div class="input-group">
        <label for="gender">Select Gender:</label>
        <select id="gender" name="gender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
    </div>
    <button class="btn" type="submit" id="Signup">Save</button>
  </form>

  <hr>
  <br />

  <h2 class="title">About your vehicle</h2>
  <form action="" id="formvalidate">
    <div class="person-details">
      <div class="label-input">
        <label for="vehicle">Vehicle name:</label>
        <input
          class="form-control"
          name="vehicle"
          id="vehicle"
          type="text"
          [(ngModel)]="vehicle"
        />
      </div>
      <div class="label-input">
        <label for="license">License:</label>
        <input
          class="form-control"
          name="license"
          id="license"
          type="text"
          [(ngModel)]="license"
        />
      </div>
    </div>
    <div class="person-details">
      <div class="label-input">
        <label for="model">Model:</label>
        <input
          class="form-control"
          name="model"
          id="model"
          type="text"
          [(ngModel)]="model"
        />
      </div>
      <div class="label-input">
        <label for="serial" class="text-label">OEM:</label>
        <input
          class="form-control"
          name="OEM"
          id="OEM"
          type="text"
          [(ngModel)]="OEM"
        />
      </div>
    </div>
    <div class="person-details">
      <div class="label-input">
        <label for="creation">Creation:</label>
        <input
          class="form-control"
          name="creation"
          id="creation"
          type="text"
          [(ngModel)]="creation"
        />
      </div>
      <div class="label-input">
        <label for="serial" class="text-label">Serial:</label>
        <input
          class="form-control"
          name="serial"
          id="serial"
          type="text"
          [(ngModel)]="serial"
        />
      </div>
    </div>
    <button class="btn vehicle-btn" type="submit" id="Signup">Save</button>
  </form>
</div>
