<div class="inner-warpper text-center">
  <h2 class="title">About you</h2>
  <form action="" id="formvalidate">
    <div class="person-details">
      <!-- first name -->
      <!-- [(ngModel)]="firstName" -->
      <input
        type="text"
        id="firstName"
        name="firstName"
        class="form-control"
        placeholder="First name"
      />
      <!-- last name -->
      <input
        class="form-control"
        name="lastName"
        id="lastName"
        type="text"
        placeholder="Last name"
      />
    </div>
    <!-- job -->
    <div class="input-group">
      <input
        class="form-control"
        name="Job"
        id="Job"
        type="text"
        placeholder="Job title"
      />
    </div>
    <!-- email -->
    <div class="input-group">
      <input
        class="form-control"
        name="email"
        id="userEmail"
        type="email"
        placeholder="Email"
      />
    </div>
    <button class="btn" type="submit" id="Signup">Save</button>
  </form>

  <h2 class="title">About your vehicle</h2>
  <form action="" id="formvalidate">
    <div class="person-details">
      <input
        class="form-control"
        name="name"
        id="name"
        type="text"
        placeholder="Vehicle name"
      />
      <input
        class="form-control"
        name="name"
        id="name"
        type="text"
        placeholder="Vehicle model"
      />
    </div>
    <div class="person-details">
      <input
      class="form-control"
      name="name"
      id="name"
      type="text"
      placeholder="license plate"
      />
      <input
      class="form-control"
      name="name"
      id="name"
      type="text"
      placeholder="creation year"
      />
    </div>
    <input
      class="form-control"
      name="serial"
      id="serial"
      type="text"
      placeholder="serial number"
    />
    <button class="btn vehicle-btn" type="submit" id="Signup">Save</button>
  </form>
</div>
