<div class="text-center">
  <h1>Sign Up</h1>
</div>
<div class="wrapper">
  <div class="inner-warpper text-center">
    <h2 class="title">Create new account</h2>
    <form (ngSubmit)="signUpHandler()" action="" id="formvalidate">
      <!-- email -->
      <div class="input-group">
        <input
          class="form-control"
          name="email"
          id="userEmail"
          type="email"
          placeholder="Email"
          [(ngModel)]="user.username"
          required
        />
      </div>
      <!-- first name -->
      <div class="input-group">
        <input
          class="form-control"
          name="firstName"
          id="firstName"
          type="text"
          placeholder="First Name"
          [(ngModel)]="user.firstName"
          required
        />
      </div>
      <!-- last name -->
      <div class="input-group">
        <input
          class="form-control"
          name="lastName"
          id="lastName"
          type="text"
          placeholder="Last Name"
          [(ngModel)]="user.lastName"
          required
        />
      </div>

      <!-- car name -->
      <div class="input-group">
        <input
          class="form-control"
          name="carName"
          id="carName"
          type="text"
          placeholder="Car Name"
          [(ngModel)]="user.name"
          required
        />
      </div>

      <!-- car type -->
      <div class="input-group">
        <input
          class="form-control"
          name="carType"
          id="carType"
          type="carType"
          placeholder="car type"
          [(ngModel)]="user.oem"
          required
        />
      </div>

      <!-- serial number -->
      <div class="input-group">
        <input
          class="form-control"
          name="serialNumber"
          id="serialNumber"
          type="text"
          placeholder="serial number"
          [(ngModel)]="user.serialNumber"
          required
        />
      </div>

      <!-- password -->
      <div class="input-group">
        <input
          class="form-control"
          name="userPassword"
          id="userPassword"
          type="password"
          placeholder="Password"
          [(ngModel)]="user.password"
          required
        />
      </div>
      <!-- password repeat-->
      <div class="input-group">
        <input
          class="form-control"
          name="userPasswordConfirm"
          id="userPasswordConfirm"
          type="password"
          placeholder="Confirm Password"
          required
        />
      </div>

      <div *ngIf="isSignUpFailed" class="is-invalid">
        <p>Please enter a correct data</p>
      </div>
      <div *ngIf="isLoading" class="text-center">
        <p>Loading ...</p>
      </div>
      <button type="submit" id="Signup">Sign up</button>
    </form>
    <div class="signup text-center">
      <p>Already have an account?</p>
      <a (click)="logInHandler()" class="primary-text">Log In</a>
    </div>
  </div>
  <div class="signup-wrapper text-center">
    <p>
      By creating an account you agree to our
      <a href="#" style="color: #00755d">Terms & Privacy</a>.
    </p>
  </div>
</div>
