<div class="text-center">
  <h1>Sign Up</h1>
</div>
<div class="wrapper">
  <div class="inner-warpper text-center">
    <h2 class="title">Create new account</h2>
    <form action="" id="formvalidate">

      <!-- email -->
      <div class="input-group">
        <input class="form-control" name="email" id="userEmail" type="email" placeholder="Email" required/>
      </div>
      <!-- first name -->
      <div class="input-group">
        <input class="form-control" name="firstName" id="firstName" type="text" placeholder="First Name" required/>
      </div>
      <!-- last name -->
      <div class="input-group">
        <input class="form-control" name="lastName" id="lastName" type="text" placeholder="Last Name" required/>
      </div>
      <!-- password -->
      <div class="input-group">
        <!-- <label class="palceholder" for="userPassword">Password</label> -->
        <input name="userPassword" id="userPassword" type="password" placeholder="Password" required/>
      </div>
      <!-- password repeat-->
      <div class="input-group">
        <!-- <label class="palceholder" for="userPassword">Password</label> -->
        <input name="userPasswordConfirm" id="userPasswordConfirm" type="password" placeholder="Confirm Password" required/>
        <!-- <span class="lighting"></span> -->
      </div>
      <button type="submit" id="Signup" (click)="signUpHandler()">Sign up</button>
    </form>
    <div class="signup text-center">
      <p>Already have an account?</p>
      <a (click)="signUpHandler()" class="primary-text">Log In</a>
    </div>
  </div>
  <div class="signup-wrapper text-center">
    <p>By creating an account you agree to our <a href="#" style="color:#00755d">Terms & Privacy</a>.</p>
  </div>
</div>
