<div>
  <div class="event_log_div">
    <div class="inner_Container">
      <div class="filter_container"></div>
      <div class="table_container">
        <table>
          <thead>
            <tr>
              <th>Trip Time</th>
              <th>Date</th>
              <th>Distance</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <!-- Use *ngFor to iterate over the trip data and display each row -->
            <tr *ngFor="let trip of tripDetails">
              <td>{{ trip.start_timestamp | date:'HH:mm:ss' }}</td>
              <td>{{ trip.start_timestamp | date : "dd-MM-yyyy" }}</td>
              <td>{{ trip.distance }}</td>
              <td>
                <div
                  id="event_status"
                  [ngStyle]="{
                    'background-color':
                      trip.status === 'NORMAL'
                        ? 'rgba(26, 147, 46, 0.18)'
                        : trip.status === 'AGGRESSIVE'
                        ? 'rgba(226, 177, 51, 0.18)'
                        : trip.status === 'VERY_AGGRESSIVE'
                        ? 'rgba(238, 32, 28, 0.18)'
                        : '',
                    color:
                      trip.status === 'NORMAL'
                        ? '#1A932E'
                        : trip.status === 'AGGRESSIVE'
                        ? '#DFA510'
                        : trip.status === 'VERY_AGGRESSIVE'
                        ? '#EE201C'
                        : ''
                  }"
                >
                  {{ trip.status }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="card">
      <img
        src="../../assets/aggressive-icon.png"
        alt="aggressive"
        class="card-img"
      />
      <p class="card-num">{{ suddenBrake }}</p>
      <p class="card-description">Sudden brake</p>
    </div>
    <div class="card">
      <img
        src="../../assets/aggressive-left-turn.png"
        alt="aggressive"
        class="card-img"
      />
      <p class="card-num">{{ aggressiveLeft }}</p>
      <p class="card-description">Aggressive left</p>
    </div>
    <div class="card">
      <img
        src="../../assets/aggressive-right-turn.png"
        alt="aggressive"
        class="card-img"
      />
      <p class="card-num">{{ aggressiveRight }}</p>
      <p class="card-description">Aggressive right</p>
    </div>
    <div class="card">
      <img src="../../assets/swerve.png" alt="aggressive" class="card-img" />
      <p class="card-num">{{ aggressiveSwerve }}</p>
      <p class="card-description">Aggressive swerve</p>
    </div>
    <div class="card">
      <img src="../../assets/speed.png" alt="speed" class="card-img" />
      <p class="card-num">{{ speedViolation }}</p>
      <p class="card-description">Speed limit violation</p>
    </div>
    <div class="card">
      <img src="../../assets/road-sign.png" alt="road-sign" class="card-img" />
      <p class="card-num">{{ totalOtherSign }}/{{ respondedOtherSign }}</p>
      <p class="card-description">Other traffic sign</p>
    </div>
  </div>
</div>
