.event_log_div{
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.34);
  box-shadow: 0 0 3px #ccc;
}

.inner_Container{
  display: flex;
  width: "100%";
  height: "50%";
  flex-direction: column;
  align-items: flex-start;
  padding-top: 42px;
  padding-bottom: 24px;
}
.filter_container{
  display: flex;
  width: "94%";
  height: "100%";
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}
.table_container {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  width: 1258px;
  height: 427px;
  flex-direction: row;
  align-items:safe;
  gap: 8px;
  flex-shrink: 0;
  border-spacing: 10px;

  table {
    width: 100%;
    border-spacing: 0px; /* Adjust the spacing value as needed */
  }
  th, td {
    /* border:  1px solid #ddd; Optional: Add borders for better visualization */
    /* padding: 8px; */
    text-align: center;
  }
  th {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd; /* Add a bottom border to all table headers */
  }
}

#event_status {
  display: inline-flex;
  width: 160px;
  height: 42px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}


.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 5.4rem;
}

.card {
  width: 200px;
  height: 180px;
  padding: 12px;
  background-color: #f1faf8;
  box-shadow: 0px 0px 4px #ccc;
}

.card-img {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

.card-num,
.card-description {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.card-num {
  margin-bottom: 6px;
}

.card-description {
  line-height: 22px;
}
