.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #00755d;
  color: #fff;
}

.logo a {
  cursor: pointer;
  background-color: #00755d;
  color: #fff;
  border: none;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.header .user {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* side nav section */
.nav-items {
  padding-top: 40px;
}

.nav-items .nav-item {
  padding: 25px 50px;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .nav-items .nav-item {
    padding: 25px 40px;
  }
}

.nav-items .nav-item:hover {
  background-color: #00755d;
}

/* .nav-items .nav-item fa-icon {
  margin-right: 20px;
  font-size: 22px;
} */

.nav-items .nav-item span {
  display: inline;
}

@media only screen and (max-width: 1300px) {
  .nav-items .nav-item span {
    display: none;
  }
}

/* Main section */

.main-container {
  display: flex;
}

.main-container .side-nav {
  width: 20%;
  min-width: 120px;
  min-height: calc(100vh - 70px);
  background-color: #00A885;
  color: #fff;

  @media only screen and (max-width: 1300px) {
    width: 100px;
    min-width: 100px;
  }
  @media only screen and (max-width: 600px) {
    width: 50px;
    min-width: 50px;
  }
}

.main {
  width: 70%;
  margin-left: 5%;
}
.nav-items .nav-item.selected {
  background-color: #00755d;
  color: #fff;
}
