<div class="event_log_div">
    <div class="inner_Container">
        <div class="filter_container"></div>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <th>Trip Time</th>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Use *ngFor to iterate over the trip data and display each row -->
                    <tr *ngFor="let trip of getTripData()" >
                        <td>{{ trip[0] }}</td>
                        <td>{{ trip[1] }}</td>
                        <td>{{ trip[2] }}</td>
                        <td ><div id="event_status" [ngStyle]="{'background-color': trip[3] === 'Safe' ? 'rgba(26, 147, 46, 0.18)' : 
                        trip[3] === 'Aggressive' ? 'rgba(226, 177, 51, 0.18)' : 
                        trip[3] === 'Very Aggressive' ? 'rgba(238, 32, 28, 0.18)' : '', 
                        'color': trip[3] === 'Safe' ? '#1A932E' : 
                                trip[3] === 'Aggressive' ? '#DFA510' : 
                                trip[3] === 'Very Aggressive' ? '#EE201C' : ''
                               }">{{ trip[3] }}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    

